* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

:root {
  --basic-font: "Montserrat", Arial, Helvetica, sans-serif;
}

.body {
  font-family: var(--basic-font);
  background: linear-gradient(140deg, #2e5b61, #100044);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 0;
}

.wow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wow__icon {
  fill: #fff;
  width: 100vh;
  margin: auto;
  opacity: 0.2;
}

@media (max-width: 768px) {
  .wow__icon {
    margin: 0;
    margin-top: auto;
  }
}

.wow--1 {
  background: linear-gradient(140deg, #100044, #2e5b61);
}

.wow--2 {
  background: linear-gradient(140deg, #0c8494, #100044);
}

.link--1:hover ~ .wow--1,
.link--1._active ~ .wow--1 {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.link--2:hover ~ .wow--2,
.link--2._active ~ .wow--2 {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.container {
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .header__container {
    display: block;
  }
}

.h2 {
  font: 600 34px/44px var(--basic-font);
}

@media (max-width: 768px) {
  .h2 {
    font: 600 24px/32px var(--basic-font);
  }
}

.link {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font: 500 24px/44px var(--basic-font);
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  text-decoration: none;
  border: 4px solid transparent;
  border-right: 4px solid rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

@media (max-width: 768px) {
  .link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 16px;
    font: 500 20px/30px var(--basic-font);
  }
}

.link:hover,
.link._active {
  border-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 3;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.link__img {
  width: 128px;
  height: 128px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  margin-right: 32px;
}

@media (max-width: 768px) {
  .link__img {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
  }
}

.link__pic {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.link__img--effect {
  position: relative;
}

.link__img--effect span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 38% 62% 63% 37% / 41% 44% 46% 59%;
  -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.1), inset 0 0 8px rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 4px rgba(255, 255, 255, 0.1), inset 0 0 8px rgba(255, 255, 255, 0.4);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.link__img--effect span:nth-child(1) {
  -webkit-animation: rotateToLeft 6s linear infinite;
          animation: rotateToLeft 6s linear infinite;
}

.link__img--effect span:nth-child(2) {
  -webkit-animation: rotateToLeft 8s linear infinite;
          animation: rotateToLeft 8s linear infinite;
}

.bolink__img--effectx span:nth-child(3) {
  -webkit-animation: rotateToLeft 10s linear infinite;
          animation: rotateToLeft 10s linear infinite;
}

.link__img--effect span:nth-child(4) {
  -webkit-animation: rotateToRight 12s linear infinite;
          animation: rotateToRight 12s linear infinite;
}

.link__img--effect span:nth-child(5) {
  -webkit-animation: rotateToLeft 12s linear infinite;
          animation: rotateToLeft 12s linear infinite;
}

.link__img--effect span:nth-child(6) {
  -webkit-animation: rotateToRight 6s linear infinite;
          animation: rotateToRight 6s linear infinite;
}

@-webkit-keyframes rotateToRight {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateToRight {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateToLeft {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes rotateToLeft {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.box {
  width: 100vh;
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-60deg) rotate(-20deg) rotateY(0);
          transform: rotateX(-60deg) rotate(-20deg) rotateY(0);
  -webkit-animation: rotate 30s infinite alternate;
          animation: rotate 30s infinite alternate;
  z-index: 2;
}

.box__item {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.box__item:nth-child(1) {
  -webkit-transform: rotateY(9deg);
          transform: rotateY(9deg);
}

.box__item:nth-child(2) {
  -webkit-transform: rotateY(18deg);
          transform: rotateY(18deg);
}

.box__item:nth-child(3) {
  -webkit-transform: rotateY(27deg);
          transform: rotateY(27deg);
}

.box__item:nth-child(4) {
  -webkit-transform: rotateY(36deg);
          transform: rotateY(36deg);
}

.box__item:nth-child(5) {
  -webkit-transform: rotateY(45deg);
          transform: rotateY(45deg);
}

.box__item:nth-child(6) {
  -webkit-transform: rotateY(54deg);
          transform: rotateY(54deg);
}

.box__item:nth-child(7) {
  -webkit-transform: rotateY(63deg);
          transform: rotateY(63deg);
}

.box__item:nth-child(8) {
  -webkit-transform: rotateY(72deg);
          transform: rotateY(72deg);
}

.box__item:nth-child(9) {
  -webkit-transform: rotateY(81deg);
          transform: rotateY(81deg);
}

.box__item:nth-child(10) {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.box__item:nth-child(11) {
  -webkit-transform: rotateY(99deg);
          transform: rotateY(99deg);
}

.box__item:nth-child(12) {
  -webkit-transform: rotateY(108deg);
          transform: rotateY(108deg);
}

.box__item:nth-child(13) {
  -webkit-transform: rotateY(117deg);
          transform: rotateY(117deg);
}

.box__item:nth-child(14) {
  -webkit-transform: rotateY(126deg);
          transform: rotateY(126deg);
}

.box__item:nth-child(15) {
  -webkit-transform: rotateY(135deg);
          transform: rotateY(135deg);
}

.box__item:nth-child(16) {
  -webkit-transform: rotateY(144deg);
          transform: rotateY(144deg);
}

.box__item:nth-child(17) {
  -webkit-transform: rotateY(153deg);
          transform: rotateY(153deg);
}

.box__item:nth-child(18) {
  -webkit-transform: rotateY(162deg);
          transform: rotateY(162deg);
}

.box__item:nth-child(19) {
  -webkit-transform: rotateY(171deg);
          transform: rotateY(171deg);
}

.box__item:nth-child(20) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateX(-60deg) rotate(-20deg) rotateY(360deg);
            transform: rotateX(-60deg) rotate(-20deg) rotateY(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotateX(-60deg) rotate(-20deg) rotateY(360deg);
            transform: rotateX(-60deg) rotate(-20deg) rotateY(360deg);
  }
}

.footer {
  padding: 12px 0;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font: 16px/24px Arial, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.footer__link {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */